{
  "extends": "formio",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "angular": true,
    "_": true
  },
  "rules": {
    "new-cap": [2, {"capIsNewExceptions": ["FormioPlugins"]}]
  }
}
