<div class="row formbuilder">
  <div class="col-xs-4 col-sm-3 col-md-2 formcomponents">
    <uib-accordion close-others="true">
      <div uib-accordion-group ng-repeat="(groupName, group) in formComponentGroups" heading="{{ group.title }}" is-open="$first" class="panel panel-default form-builder-panel {{ group.panelClass }}">
        <uib-accordion close-others="true" ng-if="group.subgroups">
          <div uib-accordion-group ng-repeat="(subgroupName, subgroup) in group.subgroups" heading="{{ subgroup.title }}" is-open="$first" class="panel panel-default form-builder-panel subgroup-accordion">
            <div ng-repeat="component in formComponentsByGroup[groupName][subgroupName]" ng-if="component.title"
                dnd-draggable="component.settings"
                dnd-dragstart="dndDragIframeWorkaround.isDragging = true"
                dnd-dragend="dndDragIframeWorkaround.isDragging = false"
                dnd-effect-allowed="copy"
                class="formcomponentcontainer">
              <span class="btn btn-primary btn-xs btn-block formcomponent" title="{{component.title}}" style="overflow: hidden; text-overflow: ellipsis;">
                <i ng-if="component.icon" class="{{ component.icon }}"></i> {{ component.title }}
              </span>
            </div>
          </div>
        </uib-accordion>
        <div ng-repeat="component in formComponentsByGroup[groupName]" ng-if="!group.subgroup && component.title"
            dnd-draggable="component.settings"
            dnd-dragstart="dndDragIframeWorkaround.isDragging = true"
            dnd-dragend="dndDragIframeWorkaround.isDragging = false"
            dnd-effect-allowed="copy"
            class="formcomponentcontainer">
          <span class="btn btn-primary btn-xs btn-block formcomponent" title="{{component.title}}" style="overflow: hidden; text-overflow: ellipsis;">
            <i ng-if="component.icon" class="{{ component.icon }}"></i> {{ component.title }}
          </span>
        </div>
      </div>
    </uib-accordion>
  </div>
  <div class="col-xs-8 col-sm-9 col-md-10 formarea">
    <ol class="breadcrumb" ng-if="form.display === 'wizard'">
      <li ng-repeat="title in pages() track by $index"><a class="label" style="font-size:1em;" ng-class="{'label-info': ($index === form.page), 'label-primary': ($index !== form.page)}" ng-click="showPage($index)">{{ title }}</a></li>
      <li><a class="label label-success" style="font-size:1em;" ng-click="newPage()" data-toggle="tooltip" title="Create Page"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> page</a></li>
    </ol>
    <div class="dropzone">
      <form-builder-list component="form" form="form" formio="::formio" hide-dnd-box-count="hideCount" root-list="true" class="rootlist"></form-builder-list>
    </div>
  </div>
</div>
